.order_form {
    .order_back_bg {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 96px;
      border-radius: 24px;
      background: $white;
      box-shadow: 1px 0px 32px -4px rgba(17, 17, 17, 0.08);
      padding: 0px 24px;
    }
  
    .order_form__wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 20px;
      margin-top: 24px;
  
      .order_form__left {
        display: flex;
        flex-direction: column;
        gap: 20px;
  
        &-top {
          padding: 24px;
          width: 100%;
          height: 264px;
          border-radius: 24px;
          background: #fff;
          box-shadow: 1px 0px 32px -4px rgba(17, 17, 17, 0.08);
  
          h3 {
            color: $black;
            font-family: $golos_fonts;
            font-size: 16px;
            font-weight: 600;
          }
  
        }
  
        &-bottom {
          width: 100%;
          height: 164px;
          border-radius: 24px;
          background: #fff;
          box-shadow: 1px 0px 32px -4px rgba(17, 17, 17, 0.08);
          padding: 24px;
  
          h2 {
            color: #020105;
            font-family: $golos_fonts;
            font-size: 16px;
            font-weight: 600;
          }
  
          .select__wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
            margin-top: 24px;
  
            .select {
              display: flex;
              flex-direction: column;
              gap: 12px;
  
              label {
                color: #020105;
                font-family: $golos_fonts;
                font-size: 14px;
                font-weight: 400;
              }
  
              .courier {
                width: 100%;
                height: 40px;
                border-radius: 12px;
                border: 1px solid #e9ecef;
                background: $white;
                display: flex;
                align-items: center;
                position: relative;
  
                .courier_icon {
                  position: absolute;
                  right: 8px;
                }
              }
            }
          }
        }
      }
  
      .order_form__right {
        &-top {
          padding: 24px;
          width: 100%;
          height: 234px;
          border-radius: 24px;
          background: #fff;
          box-shadow: 1px 0px 32px -4px rgba(17, 17, 17, 0.08);
  
          h3 {
            color: $black;
            font-family: $golos_fonts;
            font-size: 16px;
            font-weight: 600;
          }
        }
  
        .hr {
          width: 100%;
          height: 1px;
          background: #dfe9ff;
          margin-top: 40px;
        }
  
        .order__total {
          display: flex;
          align-items: center;
          justify-content: end;
          margin-top: 24px;
  
          h2 {
            color: #999;
            font-family: $golos_fonts;
            font-size: 16px;
            font-weight: 400;
  
            span {
              color: #020105;
              font-family: $golos_fonts;
              font-size: 18px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  