.status_new,
.status_paid,
.status_deliv_unpaid,
.status_accepted {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  font-family: $golos_fonts;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 25px;
  width: 100%;
}

.status_new {
  border: 1px solid #a3cdff;
  background: #eaf3fb;
  color: #0a79ff;
}

.status_paid {
  border: 1px solid #6cd276;
  background: #eafbec;
  color: #00ae11;
}

.status_deliv_unpaid {
  border: 1px solid #d26c6c;
  background: #fbeaea;
  color: #db0808;
}

.status_accepted {
  border: 1px solid #ffd494;
  background: #fbf8ea;
  color: #ff9a03;
}

@media (max-width: 1650px) {
  .status_new,
  .status_paid,
  .status_deliv_unpaid,
  .status_accepted {
    font-size: 12px;
    width: 95%;
  }
}

@media (max-width: 1555px) {
  .status_new,
  .status_paid,
  .status_deliv_unpaid,
  .status_accepted {
    margin: 0 auto;
    font-size: 10px;
    width: 85%;
    flex-wrap: nowrap;
    text-align: center;
  }
}

@media (max-width: 1280px) {
  .status_new,
  .status_paid,
  .status_deliv_unpaid,
  .status_accepted {
    margin: 0 auto;
    font-size: 8px;
    width: 85%;
    flex-wrap: nowrap;
    text-align: center;
  }
}
