.order_form {
  .order_back_bg {
    padding: 0 24px;
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    background: #fff;
    box-shadow: 1px 0px 32px -4px rgba(17, 17, 17, 0.08);
  }

  .order_wrapper {
    margin-top: 66px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;

    .order_left,
    .order_right {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  .order_form_bg {
    border-radius: 24px;
    background: #fff;
    box-shadow: 1px 0px 32px -4px rgba(17, 17, 17, 0.08);
    padding: 24px;

    .order_fotm_title {
      color: $black_light;
      font-family: $golos_fonts;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
    }

    .hr{
      width: 100%;
      height: 1px;
      background: #DFE9FF;
      margin: 24px 0;
    }

    .order__total {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 8px;
      margin-top: 24px;
      color: #999;
      font-family: $golos_fonts;
      font-size: 16px;
      font-weight: 400;

      span {
        color: #020105;
        font-family: $golos_fonts;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }

  .order_product_btn {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #00ae11;
    font-family: $golos_fonts;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    border-radius: 14px;
    border: 1px dashed var(--Green, #00ae11);
    padding: 12px;
    background: transparent;
  }

  .order_wrapper_client {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    gap: 14px;
    margin-top: 24px;
    .order_client {
      label {
        color: var(--Black, #020105);
        font-family: $golos_fonts;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;

        span {
          color: #db0808;
        }
      }

      .order_client_select {
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        padding: 0px 16px;
        border-radius: 12px;
        border: 1px solid var(--Dark-Grey-30, #e9ecef);
        background: var(--White, #fff);
      }
    }
  }
}
