// color
$body_colors: #FAFAFA;
$white: #fff;
$white_dark: #E6E6E6;
$white_dark2: #e6eef8;
$white_light: #f0f0f0;
$white_light2: #fff8ee;
$border: #e9ecef;
$black: #000;
$black_light: #1A1A1A;
$black_light2: #020105;
$gray: #333;
$gray_light: #B3B3B3;
$gray_light2: #343a40;
$light_green: #e2f5e4;
$blue: #3376C7;
$orang: #ffb84d;
$orang2: #ffe6e6;
$orang3: #fff7ee;
$light_orang: #ffeaca;
$light_orang2: #fff8ee;
$light_orang3: #ffe2b8;
$red: #ff0000;
$green: #00ae11;

// fonts Golos
$golos_fonts:  "Golos Text", sans-serif;