.search_wrapper_modal {
  position: relative;

  .close_modal {
    display: none;
  }

  .filter_modal {
    width: 554px;
    height: 420px;
    border-radius: 24px;
    background: $white;
    box-shadow: -6px 0px 16px 0px rgba(6, 22, 38, 0.07);
    z-index: 1000;
    position: absolute;
    left: -16px;
    top: 130%;
    display: initial;

    .modal_header {
      padding: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .modal_title {
        color: $black_light;
        font-family: $golos_fonts;
        font-size: 24px;
        font-weight: 600;
      }

      button {
        background: transparent;
        cursor: pointer;
      }
    }

    .modal_hr {
      width: 100%;
      height: 1px;
      background: #f0f0f0;
    }

    .modal_body-order {
      padding: 24px;

      .modal_role {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        padding: 16px;
        border-radius: 16px;
        border: 1px solid #f0f0f0;
        background: $body_colors;

        &-form {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 450px;
        }

        .modal_role_text {
          color: $black_light;
          font-family: $golos_fonts;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
        }

        .modal_role_choose {
          width: 346px;
          height: 40px;
          padding: 0px 16px;
          border-radius: 10px;
          border: 1px solid #e9ecef;
          background: $white;
          outline: none;
        }

        .modal_role-product-order {
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 12px;

          &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 450px;
            p {
              width: 95px;

              color: $black_light;
              font-family: $golos_fonts;
              font-size: 12px;
              font-weight: 400;
            }
            input {
              width: 169px;
              height: 40px;
              border-radius: 10px;
              border: 1px solid #e9ecef;
              background: $white;
              padding-left: 20px;
            }
          }
        }
      }

      .modal_btns {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;

        .modal_btn_canse,
        .modal_btn_filter {
          height: 48px;
          border-radius: 18px;
          color: $black_light;
          font-family: $golos_fonts;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 12px;
          img {
            width: 20px;
            height: 20px;
            object-fit: contain;
          }
        }

        .modal_btn_canse {
          background: #f0f0f0;
        }

        .modal_btn_filter {
          background: #ffb84d;
        }
      }
    }
  }
}
