.pagination_table {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 24px;

  .pagination_all {
    color: $black_light;
    font-family: $golos_fonts;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }

  .MuiPagination-root {
    display: flex;
    align-items: center;
  }

  .MuiPaginationItem-root {
    color: $black_light;
    font-weight: 500;
    border: 1px solid $white_dark;
    border-radius: 8px;

    &:hover {
      background-color: #FFF8EE;
      border-color: #FFEACA;
      color: $orang;
    }

    &.Mui-selected {
      color: $orang;
      background-color: $white;
      border: 1px solid $orang;

      &:hover {
        background: transparent;
      }
    }
  }

  .MuiPaginationItem-ellipsis {
    color: $white_dark;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 33px;
    margin-top: -10px;

    &:hover {
      background: transparent;
      color: $white_dark;
    }
  }

  .MuiPaginationItem-previousNext {
    border-radius: 8px;
  }
}