.user__form__btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 117px;
    height: 44px;
    border-radius: 18px;
    background: #f0f0f0;
    color: $black_light;
    font-family: $golos_fonts;
    font-size: 16px;
    font-weight: 500;
}

.user__form__btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 234px;
    height: 44px;
    border-radius: 18px;
    background: $orang;
    color: $black_light;
    font-family: $golos_fonts;
    font-size: 15px;
    font-weight: 500;
}