.header {
  width: 100%;
  height: 96px;
  display: flex;
  align-items: center;

  .header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .header_title {
    color: $gray;
    font-family: $golos_fonts;
    font-size: 24px;
    font-weight: 600;
  }

  .header_language_profil {
    display: flex;
    gap: 16px;
  }

  .header_language,
  .header_profil {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 4px;
    border-radius: 40px;
    background: $white;
    box-shadow: 1px 0px 32px -4px rgba(17, 17, 17, 0.08);
    cursor: pointer;
    position: relative;
    gap: 16px;
  }

  .header_language {
    .header_language_name {
      display: flex;
      align-items: center;
      gap: 8px;

      .language_icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: contain;
      }

      .language_name {
        color: $black;
        font-family: $golos_fonts;
        font-size: 14px;
        font-weight: 400;
      }
    }

    .header_language_arrow {
      color: $gray_light;
      font-size: 20px;
      margin: 0 6px;

      &.open {
        transform: rotate(180deg);
      }
    }

    .language_dropdown {
      position: absolute;
      top: 50px;
      right: 0px;
      padding: 2px 16px;
      border-radius: 20px;
      background: $white;
      box-shadow: 1px 0px 32px -4px rgba(17, 17, 17, 0.08);
      cursor: pointer;
      z-index: 2;

      .language_option {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 8px 0;

        .language_icon {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          object-fit: cover;
        }

        .language_name {
          color: $black;
          font-family: $golos_fonts;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }

  .header_profil {
    gap: 48px;

    .header_profil_avatar_name {
      display: flex;
      align-items: center;
      gap: 8px;

      .header_profil_avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      .profil_name {
        color: $black;
        font-family: $golos_fonts;
        font-size: 14px;
        font-weight: 400;
      }

      .profil_jobtitle {
        color: #999;
        font-family: $golos_fonts;
        font-size: 12px;
        font-weight: 400;
      }
    }

    .header_profil_arrow {
      color: $gray_light;
      font-size: 20px;
      margin: 0 6px;

      &.open {
        transform: rotate(180deg);
      }
    }

    .profile_dropdown {
      position: absolute;
      top: 50px;
      right: 0;
      width: 150px;
      background: $white;
      box-shadow: 1px 0px 32px -4px rgba(17, 17, 17, 0.08);
      padding: 10px;
      border-radius: 10px;
      list-style: none;
      z-index: 2;

      .profile_option {
        padding: 8px 12px;
        color: $black;
        font-family: $golos_fonts;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;

        &:hover {
          background: $gray_light;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .header_title {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .header_language,
    .header_profil {
      height: 40px;
      padding: 2px;
    }

    .header_profil {
      gap: 10px;

      .profil_name,
      .profil_jobtitle {
        font-size: 12px;
        font-weight: 400;
      }

      .profil_jobtitle {
        font-size: 10px;
      }
    }
  }

  @media (max-width: 570px) {
    .header_language_profil {
      .header_language_name,
      .header_profil_avatar_name {
        .language_name,
        .profil_name {
          display: none;
        }
      }
    }
  }

  @media (max-width: 450px) {
    .header_language_profil {
      .header_language {
        gap: 1px;

        .language_name {
          display: none;
        }
      }

      .header_profil {
        gap: 1px;
        .header_profil_avatar_name {
          .profil_name,
          .profil_jobtitle {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .header {
    .header_wrapper {
      .header_language_profil {
        display: flex;
        gap: 8px;
      }

      .header_language,
      .header_profil {
        display: flex;
        align-items: center;
        width: 70px;
        height: 38px;
        padding: 4px;
        border-radius: 40px;
        background: $white;
        box-shadow: 1px 0px 32px -4px rgba(17, 17, 17, 0.08);
        cursor: pointer;
        position: relative;
      }

      .header_language {
        .header_language_name {
          display: flex;
          align-items: center;
          gap: 3px;

          .language_icon {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: contain;
          }

          .language_name {
            color: $black;
            font-family: $golos_fonts;
            font-size: 14px;
            font-weight: 400;
          }
        }

        .header_language_arrow {
          color: $gray_light;
          font-size: large;
          margin: 0 6px;

          &.open {
            transform: rotate(180deg);
          }
        }
      }

      .header_profil {

        .header_profil_avatar_name {
          display: flex;
          align-items: center;
          gap: 3px;

          .header_profil_avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }

          .profil_name {
            color: $black;
            font-family: $golos_fonts;
            font-size: 14px;
            font-weight: 400;
          }

          .profil_jobtitle {
            color: #999;
            font-family: $golos_fonts;
            font-size: 12px;
            font-weight: 400;
          }
        }

        .header_profil_arrow {
          color: $gray_light;
          font-size: large;
          margin: 0 6px;

          &.open {
            transform: rotate(180deg);
          }
        }

        .profile_dropdown {
          position: absolute;
          top: 50px;
          right: 0;
          width: 150px;
          background: $white;
          box-shadow: 1px 0px 32px -4px rgba(17, 17, 17, 0.08);
          padding: 10px;
          border-radius: 10px;
          list-style: none;
          z-index: 2;

          .profile_option {
            padding: 8px 12px;
            color: $black;
            font-family: $golos_fonts;
            font-size: 14px;
            font-weight: 400;
            cursor: pointer;

            &:hover {
              background: $gray_light;
            }
          }
        }
      }
    }
  }
}
