.search_wrapper_modal {
    position: relative;

    .close_modal {
        display: none;
    }

    .filter_modal {
        width: 554px;
        height: 276px;
        border-radius: 24px;
        background: $white;
        box-shadow: -6px 0px 16px 0px rgba(6, 22, 38, 0.07);
        z-index: 1000;
        position: absolute;
        left: -16px;
        top: 130%;
        display: initial;

        .modal_header {
            padding: 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .modal_title {
                color: $black_light;
                font-family: $golos_fonts;
                font-size: 24px;
                font-weight: 600;
            }

            button {
                background: transparent;
            }
        }

        .modal_hr {
            width: 100%;
            height: 1px;
            background: #F0F0F0;
        }

        .modal_body {
            padding: 24px;
        }

        .modal_role {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px;
            border-radius: 16px;
            border: 1px solid #F0F0F0;
            background: $body_colors;

            .modal_role_text {
                color: $black_light;
                font-family: $golos_fonts;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
            }

            .modal_role_choose {
                width: 346px;
                height: 40px;
                padding: 0px 16px;
                border-radius: 10px;
                border: 1px solid #E9ECEF;
                background: $white;
                outline: none;
            }
        }

        .modal_btns {
            margin-top: 24px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;

            .modal_btn_canse,
            .modal_btn_filter {
                height: 48px;
                border-radius: 18px;
                color: $black_light;
                font-family: $golos_fonts;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 12px;
                img{
                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                }
            }

            .modal_btn_canse {
                background: #F0F0F0;
            }

            .modal_btn_filter {
                background: #FFB84D;
            }
        }
    }
}