.sidebar {
  min-width: 220px;
  padding: 13px 24px 0;
  position: relative;

  .sidebar_menu {
    padding-top: 32px;
    color: $gray_light;
    font-family: $golos_fonts;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .sidebar_list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 24px;
    transition: all 0.5s ease;
  }

  .sidebar_item {
    a {
      display: flex;
      align-items: center;
      gap: 8px;

      &.active {
        .item_icon,
        .item_text {
          color: $blue;
        }
      }

      &:hover {
        .item_icon,
        .item_text {
          color: $blue;
        }
      }

      .item_icon {
        font-size: 22px;
        color: $gray_light;
        transition: 0.3s linear;
      }

      .item_text {
        color: $gray;
        font-family: $golos_fonts;
        font-size: 14px;
        font-weight: 400;
        transition: 0.3s linear;
      }
    }
  }

  .hamburger-menu {
    display: none;

    &.open .bar:nth-child(1) {
      transform: rotate(45deg) translate(5px, -3px);
      background-color: $black;
    }

    &.open .bar:nth-child(2) {
      opacity: 0;
    }

    &.open .bar:nth-child(3) {
      transform: rotate(-45deg) translate(5px, 4px);
      background-color: $black;
    }

    &:hover .bar {
      background-color: $black;
    }

    .bar {
      width: 100%;
      height: 3px;
      background-color: $black;
      border-radius: 2px;
      transition: all 0.4s ease;
      transform-origin: 5px;

      &:nth-child(2) {
        transition: width 0.3s ease;
      }
    }
  }
}

// Responsive Styles
@media (max-width: 900px) {
  .sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .sidebar_list {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      max-width: 25%;
      height: 100%;
      background-color: $white;
      z-index: 1000;
      padding: 60px 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      overflow-y: auto;
    }

    .sidebar_menu {
      display: none;
    }

    .hamburger-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 30px;
      height: 24px;
      background: transparent;
      border: none;
      cursor: pointer;
    }

    &.active .sidebar_list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 50px;
    }

    &.active .hamburger-menu .bar {
      background-color: $black;
    }
  }
}

@media (max-width: 650px) {
  .sidebar_list {
    max-width: 45% !important;
    padding: 80px 30px;

  }
}

@media (max-width: 350px) {
  .sidebar_list {
    max-width: 55% !important;
    padding: 80px 30px;

  }
}